<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>{{firstname}}</h2>
<h1>{{balance}}</h1>

<form method="post" enctype="application/x-www-form-urlencoded">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    <input type="submit" value="Submit">
</form>