<h1>{{classList}}</h1>
<!--<p><center>{{classes}}</p></center>-->
<!--<p style = "text-shadow: 0px 2px 3px #666; font-size: 50px"> Not happening, bud</p>
<h1 style="color:blue;margin-left:30px;">This is a heading.</h1>-->
<style>
    html,body{
        margin:0;
        height:100%;
        overflow:hidden;
    }

    img{
        height:600px;
        width:1000px;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
</style>

<img src="https://media.giphy.com/media/oPVqKGwziOURq/giphy.gif" alt="">
