.biggerh{
  font-size: 400%;
  padding-top: -10px;
}
.app-price-plans{
  padding-top:10%;
}
.dashboard{
  padding-top: 10%;
  padding-bottom: 4%;
}
.featured{
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .app-price-plans {
    padding-top:24%  ;
    }
    .app-navbar{
    padding-bottom: 1.5%;
    }
    .dashboard{
      padding-top: 24%;
      padding-bottom: 4%;
    }
}
